* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

nav {
  padding: 5px;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.book-list {
  padding: 10px;
  margin-bottom: 20px;
}

.book-list ul {
  list-style-type: none;
}

.book-list ul li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.input {
  outline: none;
  border: 1px solid #ccc;
  padding: 12px 20px;
  border-radius: 4px;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
}
